* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #212121;
  color: #ffffff;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner {
  text-align: center;
  border: 1px solid #535353;
  margin: 0px 20px;
}

.banner-title {
  margin: 0;
  padding: 20px;
}

.counter-value {
  font-size: 60px;
  color: #1db954;
  padding: 20px;
}

.countdown {
  text-align: center;
  border: 1px solid #535353;
  margin: 0px 20px;
  padding: 20px;
}

.description {
  padding: 20px;
  color: #b3b3b3;
}

.btn {
  border: none;
  min-width: 200px;
  padding: 10px 20px;
}